# Python-Data structures

1. What are data structures, and why are they important?
  - Data Structures: Containers that are used to store data in organised manner for efficient access and modification.
  - Importance:
      - easy access of variables which are stored in RAM
      - data is well organised, so accessing and managing become easier
      - predefined methods on each data structures leads to easy manipulations of data
      - it is easy to implement well structured program
2.  Explain the difference between mutable and immutable data types with examples?
  - Mutability : ability to change something is called mutablity.
  - Mutabale : if a data structure is allowed to change the content inside it then it is mutable data structure.
      - example : List, Set, Dictionary.
  - Immutable : if a data structure is not allowed to change the content inside it then it is called immutable data structure.
      - example : Frozen set, Tuple, String.

3. What are the main differences between lists and tuples in Python?
    - Differences:
    - List :
        - enclosed with in square braces, l1 = [1,2,3,4]
        - List is mutable, we can modify once after initialized.
        - some methods : append(), insert(), pop(), remove(), len()
    - Tuple :
        - enclosed with in paranthesis, t1 = (1,2,3,4)
        - tuple is immutable, we can't modify once after initialized.
        - some methods : count(), len()
4. Describe how dictionaries store data?
    - Dictionary: like other data structures, dictionary stores values in RAM, but the difference is in dictionary elements can accessed using thier keys, but in list and tuple we can access elements with their index.
    - firstly, key is hashed using some hash function
    - then corresponding value is stored at result of hash function
    - we can access value with keys.
    - dictionary is not subscriptable.
5. Why might you use a set instead of a list in Python?
    - if we want to avoid duplicates and data need to be sorted, then we prefer set over list.
    - set also provide a provision to perform set operation like union, set difference, intersection, symmetric difference.
6. What is a string in Python, and how is it different from a list?
    - String: A string is a sequence of charecter enclosed within single quotes or double quotes.
    - unlike list, string is immutable
    - list elements are separated by commas but there is not delimeter between charecters in strings.
    - l1 = [1,2,3,4,5] # list
    - s1 = "12345" # string
7. How do tuples ensure data integrity in Python?
    - data Integrity : data should be consistent, complete, accurate, validate.
    - Tuple is immutable in nature so consistency, completeness is ensured.
8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is linear data structure in which insertion, deletion, accessing can be done in constant time. in hash table elements are accessed using hash key.
    - hash-key : A key which passed to a hash function to get an address
    - hash function: A function which takes key as a input and return a value called hash value, body of function is completely depend on programmer, widely used hash function is '%' operation for numerical keys.
    - hash value: A address in memory where the corressonding value of this hash-key is stored.
    - How hash table is related to dictionary:
        - dictionary also uses same principle that is explained above.
        - 'key' is hashed and value is stored at returned address of hash function.
        - dictionary used various hash functions based on the environment.
9. Can lists contain different data types in Python?
    - Yes, list can store any type of data, separated by commas
    - example: l1 = [1, 2.5, "charan", True, None, 3+10j]
10. Explain why strings are immutable in Python?
    - strings are immutable in python because we can't individually change a character in string.
    - s1 = "charan"
    - s1[2] = 'k' \\ returns error(indicates strings are immutable)
11. What advantages do dictionaries offer over lists for certain tasks?
    - insertion and deletion:
        - insertion and deletion can be done in O(1) time complexity for dictionary
        - insertion and deletion takes O(n) time complexity in list
    - data can be access with meaningfull terminology:
        - student['name'] in dictionary is meaningfull compared to student[0] in list.
12. Describe a scenario where using a tuple would be preferable over a list?
    - tuple is immutable in nature once initialized cannot be modified.
    - scenario where tuple is better than list:
        - consider a database table contains 4 columns name, id, address, age
        - python program and database table are connected using inbuilt libraries.
        - task is to insert few rows into the table from python program
        - initialize a tuple contains (name, id, address,age) and insert into table using inbuilt methods
        - here tuple is more preferrable than list, because table columns and their index is fixed and their datatype is also fixed.
        - so in this scenario tuple is more prefferable than list
13. How do sets handle duplicate values in Python?
    - set uses hash table concept to get the index of elements and also handles the duplicates.
    - every element in the set passed through a hash function and stored at a specific index
    - if same element appears again, hash function will return same index and element stored at same index, so in this way set handles duplicate values.
14. How does the “in” keyword work differently for lists and dictionaries?
    - "in" keyword is membership operator to check whether element is present in the list or not, if present returns True, else False.
    - "in" keyword in dictionary uses to check whether specific key is present in the list or not, if present return Ture, else False.
15. Can you modify the elements of a tuple? Explain why or why not?
    - no we can't modify the elements of a tuple because tuple are immutable data structures, once initialized cannot be changed.
16. What is a nested dictionary, and give an example of its use case?
    - Nexted dictionary: Dictionary inside a dictionary, this is used more for a hierachical informarion.
    - example: student = { "name" : "charan", "age" : "25" , "marks" : {"m1" : 95, "m2" : 90, "m3" : 85}}  
17. Describe the time complexity of accessing elements in a dictionary?
    - in dictonaries elements can access using keys
    - example : student['name']
    - so time complexity of accessing any element takes constant time i.e O(1).
18. In what situations are lists preferred over dictionaries?
    - when order of the elements is important, then list is more prefferable than dictionary.
    - example : five students s1, s2, s3, s4, s5 attempted exam, so after results student ranks are in order s2, s3, s1, s5, s4. so in this situation using list is more prefferable
    - student_results = [s2, s3, s1, s5, s4]  # more prefferable
    - student_results = {"s1" : 3, "s2" : 1, "s3" : 2, "s4" : 5, "s5" : 4}
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - initially dictionaries are unordered in python, but after 3.7 version dictionaries are preserving order of the elements.
    - but dictionaries are not subscriptable, we have to retrive elements using keys only.
    - d1 = {"a":1, "b":2, "c":3}
    - print(d1["b"]) return 2
20.  Explain the difference between a list and a dictionary in terms of data retrieval?
    - lists are index based data structures, we can retrieve elements using thier index
    - example: l1 = [1,2,3,4,5]
    - print(l1[0], l1[3], l1[4] ) return 1 4 5
    - Dictionaries are not subscriptable, dictionary stores values in the form of key-value pairs.
    -  we can access values using keys but we can't access keys using values because keys are unique but not values
    - data retrieval can be done using keys
    - example: d1 = {"a" : 1, "b" : 2 , "c" : 3, "d" : 4}
    - print(d1['a'], d1['b'] , d1['d']) returns 1 2 4

In [ ]:
# Write a code to create a string with your name and print it?
my_name = "Dasari Charan Srinivas kumar reddy"
print(f"my name is {my_name}")

my name is Dasari Charan Srinivas kumar reddy

In [ ]:
# Write a code to find the length of the string "Hello World"?
len("Hello World")

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"?

s1 = "Python Programming"
print(s1[:3:1])

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase?

s2 = 'hello'
s2.upper()

'HELLO'

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s3 = "I like apple"
s3.replace('apple', 'orange')

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it?
l1 = [i for i in range(1,6)]
for i in l1:
  print(i, end = " ")

1 2 3 4 5

In [ ]:
 # Write a code to append the number 10 to the list [1, 2, 3, 4]?
 l2 = [1,2,3,4]
 l2.append(5)
 l2

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

l3 = [1,2,3,4,5]
l3.remove(3)
l3

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
l4 = ['a', 'b', 'c', 'd']
print(l4[1]) # list index starts from '0', second element index is '1'

b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50]?
l5 = [10, 20, 30, 40, 50]
for i in range(len(l5)-1,-1,-1):
  print(l5[i], end=" ") # way-1
print("\n")
print(l5[-1::-1]) # way-2

50 40 30 20 10

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it?
t1 = (10,20,30)
print(t1)

(10, 20, 30)

In [ ]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?
t2 = ('apple', 'banana', 'cherry')
t2[0]

'apple'

In [ ]:
# Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
t3 = (1, 2, 3, 2, 4, 2)
t3.count(2)

3

In [ ]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
t4 = ('dog', 'cat', 'rabbit')
t4.index('cat')

1

In [ ]:
#  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?
t5 = ('apple', 'orange', 'banana')
if 'banana' in t5:
  print("banana is there in given tuple")
else:
  print("banana is not there in given tuple")

banana is there in given tuple

In [ ]:
#  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to add the element 6 to the set {1, 2, 3, 4}?
set2 = {1,2,3,4}
set2.add(5)
set2

{1, 2, 3, 4, 5}

In [ ]:
#  Write a code to create a tuple with the elements 10, 20, 30 and print it?
t6 = (10,20,30)
t6

(10, 20, 30)